{
  "openapi": "3.0.0",
  "info": {
    "description": "Use this documentation to navigate the available Atlas APIs <br><br> <h2>Changes</h2> <h3>0.1.5.1</h3> Added `/stats/uptime`<br> <h3>0.1.5</h3> `PvPDeaths`, `Race` and `RaceID` added to `player` response schema<br> `realmRank` now returns a string value <h3>0.1.4</h3> Added `/stats/rp`<br> <h3>0.1.3</h3> Timestamp (`dd-MM-yyyy hh:mm tt`) added to `stats` schema<br> <h3>0.1.2</h3> Refactored `/player` and `/stats`<br> Added `/guild` endpoint<br> Added `/player/getAll` endpoint<br> <h3>0.1.1</h3> Initial release<br><br>",
    "version": "0.1.5.1",
    "title": "AtlasAPI",
    "termsOfService": "https://www.atlasfreeshard.com",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "stats",
      "description": "Everything about server statistics <br><br>[cache 1 min]"
    },
    {
      "name": "guild",
      "description": "Everything about Guilds"
    },
    {
      "name": "player",
      "description": "Everything about Players"
    }
  ],
  "paths": {
    "/stats": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "/stats",
        "description": "Returns live population",
        "operationId": "getStats",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stats"
                }
              }
            }
          }
        }
      }
    },
    "/stats/rp": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "/stats/rp",
        "description": "Returns Top 10 RP holders <br><br>[cache 60 min]",
        "operationId": "getStatsRP",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allPlayers"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/stats/uptime": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "/stats/uptime",
        "description": "Returns server uptime <br><br>[cache 30 sec]",
        "operationId": "getUptime",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serverUptime"
                }
              }
            }
          }
        }
      }
    },
    "/guild/{guildName}": {
      "get": {
        "tags": [
          "guild"
        ],
        "summary": "/guild/{guildName}",
        "description": "Returns a single guild <br><br>[cache 1 min]",
        "operationId": "getGuildByName",
        "parameters": [
          {
            "name": "guildName",
            "in": "path",
            "description": "Name of the guild to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/guild"
                }
              }
            }
          },
          "404": {
            "description": "$guildName not found"
          }
        }
      }
    },
    "/guild/{guildName}/members": {
      "get": {
        "tags": [
          "guild"
        ],
        "summary": "/guild/{guildName}/members",
        "description": "Returns all players in a guild <br><br>[cache 120 min]",
        "operationId": "getPlayersByGuild",
        "parameters": [
          {
            "name": "guildName",
            "in": "path",
            "description": "Name of the guild of which return players",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allPlayers"
                }
              }
            }
          },
          "404": {
            "description": "$guildName not found"
          }
        }
      }
    },
    "/player/{playerName}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "/player/{playerName}",
        "description": "Returns a single player <br><br>[cache 1 min]",
        "operationId": "getPlayerByName",
        "parameters": [
          {
            "name": "playerName",
            "in": "path",
            "description": "Name of the player to return",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/player"
                }
              }
            }
          },
          "404": {
            "description": "$playerName not found"
          }
        }
      }
    },
    "/player/getAll": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "/player/getAll",
        "description": "Returns all players<br><br>[cache 120 min]",
        "operationId": "getAllPlayers",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allPlayers"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "http://api.atlasfreeshard.com/"
    }
  ],
  "components": {
    "schemas": {
      "allPlayers": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/player"
        }
      },
      "guild": {
        "type": "object",
        "required": [
          "Name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Clan Cotswold"
          },
          "realmID": {
            "type": "integer",
            "example": 1
          },
          "realm": {
            "type": "string",
            "example": "Albion"
          },
          "emblem": {
            "type": "integer",
            "example": 0
          },
          "realmPoints": {
            "type": "integer",
            "example": 77845992
          },
          "bountyPoints": {
            "type": "integer",
            "example": 24669
          }
        }
      },
      "player": {
        "type": "object",
        "required": [
          "Name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Player"
          },
          "lastname": {
            "type": "string",
            "example": "Lastname"
          },
          "guild": {
            "type": "string",
            "example": "Atlas"
          },
          "realm": {
            "type": "string",
            "example": "Hibernia",
            "enum": [
              "Albion",
              "Midgard",
              "Hibernia",
              "None"
            ]
          },
          "realmID": {
            "type": "integer",
            "example": "3",
            "enum": [
              1,
              2,
              3,
              0
            ]
          },
          "race": {
            "example": "Lurikeen",
            "type": "string"
          },
          "raceID": {
            "example": 12,
            "type": "integer"
          },
          "class": {
            "example": "Eldritch",
            "type": "string"
          },
          "classID": {
            "example": 40,
            "type": "integer"
          },
          "level": {
            "example": 50,
            "type": "integer"
          },
          "realmPoints": {
            "example": 91014,
            "type": "integer"
          },
          "realmRank": {
            "example": "3L2",
            "type": "string"
          },
          "killsAlbionPlayers": {
            "example": 198,
            "type": "integer"
          },
          "killsMidgardPlayers": {
            "example": 245,
            "type": "integer"
          },
          "killsHiberniaPlayers": {
            "example": 0,
            "type": "integer"
          },
          "killsAlbionDeathBlows": {
            "example": 39,
            "type": "integer"
          },
          "killsMidgardDeathBlows": {
            "example": 38,
            "type": "integer"
          },
          "killsHiberniaDeathBlows": {
            "example": 0,
            "type": "integer"
          },
          "killsAlbionSolo": {
            "example": 1,
            "type": "integer"
          },
          "killsMidgardSolo": {
            "example": 1,
            "type": "integer"
          },
          "killsHiberniaSolo": {
            "example": 0,
            "type": "integer"
          },
          "pvpDeaths": {
            "example": 549,
            "type": "integer"
          }
        }
      },
      "serverUptime": {
        "type": "object",
        "properties": {
          "seconds": {
            "type": "integer",
            "example": 45
          },
          "minutes": {
            "type": "integer",
            "example": 32
          },
          "hours": {
            "type": "integer",
            "example": 13
          },
          "days": {
            "type": "integer",
            "example": 4
          },
          "uptime": {
            "type": "string",
            "example": "4d 13h 32m 45s"
          }
        }
      },
      "stats": {
        "type": "object",
        "properties": {
          "Albion": {
            "type": "integer",
            "example": 159
          },
          "Midgard": {
            "type": "integer",
            "example": 156
          },
          "Hibernia": {
            "type": "integer",
            "example": 163
          },
          "Total": {
            "type": "integer",
            "example": 478
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "08-12-2021 11:18 AM"
          }
        }
      }
    }
  }
}